<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Posts</title>
</head>
<body>
    {% for post in posts %}
    <a href="{% url 'blog:detail_post' pk=post.id %}"><h2>{{post.id}}  -  {{post.title}}</h2></a>
    <h5>{{post.author.first_name}}   {{post.author.last_name}}  -  {{post.published_date}}</h5>
    <a href="{% url 'blog:update_post' pk=post.id %}">update post</a>

    {% endfor %}
</body>
</html>